/Product/ClientServerConnection/nbproject/private/
/Product/ClientServerConnection/build/
Planning/Team Agreement.docx
/Product/TrainServer/nbproject/private/
/Product/TrainServer/build/
/Product/TrainServer/dist/