/Product/ClientServerConnection/nbproject/private/
/Product/ClientServerConnection/build/
Planning/Team Agreement.docx
/Product/TrainServer/nbproject/private/
/Product/TrainServer/build/
/Product/TrainServer/dist/
/Playground/James/JAVA tests/ConcurrentTests/nbproject/private/
/Playground/James/JAVA tests/ConcurrentTests/build/
/Playground/James/JAVA tests/InterfaceTests/nbproject/private/
/Playground/James/JAVA tests/InterfaceTests/build/
/Playground/James/JAVA tests/DynamicCompiler/nbproject/private/
/Playground/James/JAVA tests/DynamicCompiler/build/
/Product/MainServer/nbproject/private/