/Product/ClientServerConnection/nbproject/private/
/Product/ClientServerConnection/build/
/Product/TrainServer/nbproject/private/
/Product/TrainServer/build/
/Product/TrainServer/dist/
/Playground/James/JAVA tests/ConcurrentTests/nbproject/private/
/Playground/James/JAVA tests/ConcurrentTests/build/
/Playground/James/JAVA tests/InterfaceTests/nbproject/private/
/Playground/James/JAVA tests/InterfaceTests/build/
/Playground/James/JAVA tests/DynamicCompiler/nbproject/private/
/Playground/James/JAVA tests/DynamicCompiler/build/
/Product/Client/nbproject/private/
/Assignments/Assignment 4 - Recursion/LinkedList/nbproject/private/
/Playground/James/GraphSearch/nbproject/private/